html, body {
	height: 100%;
	margin: 0;
}

body {
	background-color: hsla(60, 56%, 91%, 1);
}

body.dark-reader {
	background-color: hsla(60, 56%, 9%, 1);
}

div {
	margin: 10px;
}

.dmgSrc {
	border: hsla(350, 100%, 88%, 1) solid 1px;
	border-radius: 0.5em;
	background-color: hsla(350, 100%, 88%, 0.5);
}

body.dark-reader .dmgSrc {
	border-color: hsla(350, 100%, 12%, 1);
	background-color: hsla(350, 100%, 12%, 0.5);
}

form {
	text-align: center;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	border-spacing: 1.6px, 1.6px;
	border-collapse: separate;
	border: hsla(0, 0%, 0%, 1) solid 1px;
	border-radius: 0.5em;
	padding: 5px;
	text-align: center;
}

body.dark-reader table {
	border: hsla(0, 0%, 100%, 1);
}

td {
	padding-left: 5px;
	padding-right: 5px;
}

tbody tr:first-child td:first-child {
	border-top-left-radius: 0.5em;
}

tbody tr:first-child td:last-child {
	border-top-right-radius: 0.5em;
}

tfoot tr:first-child td:first-child {
	border-bottom-left-radius: 0.5em;
}

tfoot tr:first-child td:last-child {
	border-bottom-right-radius: 0.5em;
}

caption {
	text-align: center;
}

tfoot tr {
	background-color: hsla(51, 100%, 50%, 0.5);
}

.hidden {
	display: none;
}

.crit {
	color: hsla(240, 100%, 50%, 1);
}

.critMiss {
	color: hsla(0, 100%, 50%, 1);
}

.hits {
	background-color: hsla(120, 64%, 62%, 0.5);
}

body.dark-reader .hits {
	background-color: hsla(120, 64%, 38%, 0.5);
}

.misses {
	background-color: hsla(0, 100%, 82%, 0.5);
}

body.dark-reader .misses {
	background-color: hsla(0, 100%, 18%, 0.5);
}

.customTooltip .customTooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the customTooltip */
  position: absolute;
  z-index: 1;
}

.customTooltip:hover .customTooltiptext {
  visibility: visible;
}

.notFlatRoll {
	width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
}

label:not(.check-text) {
	display: inline-block;
	text-align: right;
	width: 140px;
}

#fsetAttack label {
	text-align: center;
}

input, select {
	border: 1px inset rgb(118, 118, 118);
	border-radius: 0.5em;
	margin: 5px;
	background-color: hsla(60, 100%, 95%, 1);
	width: 175px;
	-ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body.dark-reader input, body.dark-reader select {
	border-color: hsla(0, 0%, 54%, 1);
	background: hsla(60, 100%, 5%, 1);
}

.check-text input {
	display: none;
}

.check-text input ~ span {
	color: #333;
	cursor: pointer;
	padding: 6px;
	border-radius: 2px;
	font-weight: 200;
}

.check-text input ~ .checked {
	display: none;
}

.check-text input:checked ~ .checked {
	display: inline-block;
}

.check-text input:checked ~ .unchecked {
	display: none;
}

.check-text input:disabled ~ span {
	color: #999;
	cursor: not-allowed;
}

button {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid hsla(0, 100%, 100%, 1);
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.5em;
	box-sizing: border-box;
	text-decoration:none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: hsla(0, 100%, 100%, 1);
	text-align: center;
	transition: all 0.2s;
	background-color: hsla(0, 100%, 0%, 1);
	cursor: pointer;
}

button:hover {
	color: hsla(0, 100%, 0%, 1);
	background-color: hsla(0, 0%, 60%, 1);
}

body.dark-reader button {
	border-color: hsla(0, 100%, 0%, 1);
	color: hsla(0, 100%, 0%, 1);
	background-color: hsla(0, 100%, 100%, 1);
}

body.dark-reader button:hover {
	color: hsla(0, 100%, 100%, 1);
	background-color: hsla(0, 0%, 40%, 1);
}

@media all and (max-width:30em) {
	button {
		display: block;
		margin: 0.4em auto;
	}
}

body.dark-reader .glyphicon {
	color: hsla(35, 10%, 76%, 1);
}

.button-alt, .more-links__links .button-alt, .ddb-characters-listing-header-primary-callout .button {
    width: 100%;
    max-width: 255px;
    background: black;
    border-radius: 0.5em;
    margin: 0 auto;
    display: block;
}
